/* ========== CONTACT US PAGE - Emmanoel ========*/
.contact-form > input[type=text]{
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
}