/** HOW TO PLAY **/


.page-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps{
    height: 100vh;
}

.center-vertical{
  height: 100%;
}

.bg-blue{
    background-color: var(--dark-blue);
    color: white;
}

.bg-green{
  background-color: var(--green);
  color: white;
}

.bg-white{
  background-color: white;
  color: black;
}

.steps-breadcrumb{
  text-align: center;
}

.step-image-left,
.step-image-right {
  flex: 1;
  max-width: 50%;
  overflow: hidden; /* Hide the overflowing part of the image */
  display: flex; /* Add flex to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.step-image-right img {
  width: 100%;
  height: 100%; /* Change from min-height to height */
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.step-image-left img {
  width: 100%;
  height: 100%; /* Change from min-height to height */
  object-fit: cover;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.step {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.step-image {
  flex: 1;
}

.step-message {
  flex: 1;
}

.step-container{
  padding: 0 2%;
}

@media only screen and (max-width: 767px) {
  /* Styles for screens smaller than 768px (e.g., mobile devices) */
  .step-component {
    flex-direction: column;
  }

  .step-image {
    order: 1;
  }

  .step-message {
    order: 2;
  }

  .center-vertical{
    height: auto;
  }

  .step-image-left img,
  .step-image-right img{
    border-radius: 0 ;
  }
}


@media screen and (min-width: 1280px) {
  /* Set the maximum width of the image to 650px */
  img {
    max-width: 650px;
  }
}


.m-left{
  margin-left: 2rem;
}

.m-right{
  margin-right: 2rem;

}

.howtoplay-links a{
  color: white;
  margin-right: 2rem;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
}

.cta-hero-message{
    flex: 1;
    max-width: 80%;
}

.howtoplay-links a {
 transition: text-stroke 0.3s ease-in-out; /* Add transition for smoother effect */
}

.howtoplay-links a {
  color: white;
  text-decoration: none;
  transition: text-shadow 0.3s ease-in-out; /* Add transition for smoother effect */
}

.howtoplay-links a:hover {
  color: white;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5); /* Add text-shadow only for :hover pseudo-class */
}
