/* ========== UPCOMING-EVENT PAGE - Emmanoel =======*/

.test-listing{
    font-family: sans-serif;
}
/*content-events.php*/
.time-date-location-price{
  display: flex;
}
#time-date-location-price{
  display: flex;
  .location-price{
    margin-left: 5rem;
  }
}


  