/* ========== UPCOMING-EVENT PAGE - Emmanoel =======*/

.test-listing{
    font-family: sans-serif;
}
/*content-events.php*/
.time-date-location-price{
  margin-top: 2rem;
  display: flex;
}
#upcoming-events{
  .upcoming-events-title{
    margin-top: 3rem;
  }
  .upcoming-events-description{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .time-date-location-price{
    display: flex;
  }
  .location-price{
    margin-left: 5rem;
  }
}


  