

.site-main {
    > article {
        padding: 2rem;
        max-width: 1280px;
        margin: 0 auto;
        .entry-header {
            > h1 {
                font-size: 5rem;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }
        }
    }
}



//Change close button sizer to 3rem
.woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
    font-size: 2rem;
}

//Change font-size of product info
.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
    font-size: 1.5rem;
}

//change bg and color of buttons
.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
    background-color: var(--dark-orange);
    color: white;
    opacity: 1 !important;
}

// change opacity of coupon button
.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon .button {
    opacity: 0.9;
}


//proceed to checkout
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    background-color: var(--green);
}

@media screen and (min-width: 1000px){
    
    .woocommerce {
        display: flex;
        gap: 1rem;
        justify-content: space-between;

    }
    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
        width: 100%;
    }

    .woocommerce table.shop_table {
        margin-top: 7.6rem;
    }

    .woocommerce-cart-form {
        width: 150% !important;
    }
}