/* ========== TYPOGRAPHY - Dazz ========== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Open+Sans&display=swap");
/* ========== mixins.scss - Dazz ========*/ /* ========== colors.scss - Donald ========*/
:root {
  --black: #070606;
  --dark-blue: #041E42;
  --light-blue: #78A1BB;
  --sky-blue: #47AED9;
  --dark-orange: #FF7200;
  --light-orange: #FFA903;
  --green: #56AC5f;
  --nude: #FDF7DD;
}

/* ========== base.scss - Dazz ========*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: white;
}

.container {
  padding: 2%;
}

h1 {
  font-family: "Monsterrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 21px;
}

h3 {
  font-family: "Monsterrat Alternates", sans-serif;
  font-size: 44px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

ul li {
  text-decoration: none;
}

/* ========== header.scss - Donald ========*/
.site-header {
  background-color: white;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 10rem;
  height: 6rem;
}

.site-branding img {
  width: 100%;
  height: 100%;
}

.site-title a {
  color: #fff;
  font-size: 24px;
}

.menu-toggle {
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 15px;
  height: 24px;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--dark-orange);
  /* margin-bottom: 4px; */
}

.main-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  display: none;
}

.main-navigation .menu {
  display: flex;
  flex-direction: column;
}

.main-navigation .menu li {
  margin: 0;
}

.show-nav {
  display: block;
  /* height: calc(100vh); */
  background-color: white;
  font-size: xx-large;
}

.show-nav .menu-item {
  text-align: center;
  padding: 5rem;
}

/* ========== footer.scss - Donald ========*/
.site-footer {
  border-top: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.socialmediaicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.socialmediaicons svg {
  width: 1rem;
}

.footer-socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-site-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.get-in-touch a {
  display: block;
}

.get-in-touch-contact {
  margin-bottom: 1rem;
}

.get-in-touch-title {
  font-weight: bold;
}

.footer-copywrite {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 5rem;
}

#secondary-menu {
  flex-direction: column;
}

/* ========== HOMEPAGE - Donald ==========*/
.test-homepage {
  font-family: sans-serif;
}

/* ========== HOW TO PLAY - Dazz =======*/
.test-how-to-play {
  font-family: sans-serif;
}

/* ========== PRODUCT PURCAHSE - Donald ============*/
.test-product {
  font-family: sans-serif;
}

/* ========== ABOUT US PAGE - Emmanoel ========== */
.test-about {
  font-family: sans-serif;
}

/* ========== CONTACT US PAGE - Emmanoel ========*/
.test-contact {
  font-family: "Courier New", Courier, monospace;
}

/* ========== EVENT DETAILS PAGE - Emmanoel ==========*/
.test-detail {
  font-family: sans-serif;
}

/* ========== EVENT LISTINGS PAGE - Emmanoel =======*/
.test-listing {
  font-family: sans-serif;
}

/*# sourceMappingURL=styles.css.map */
