/* ========== TYPOGRAPHY - Dazz ========== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Open+Sans&display=swap");
/* ========= RESET.CSS ==========*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ========== header.scss - Donald ========*/
.site-header {
  background-color: white;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.site-branding-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 18rem;
  height: 6rem;
}

.site-branding img {
  width: 100%;
  height: 100%;
}

.site-title a {
  color: #fff;
  font-size: 36px;
}

.menu-toggle {
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 15px;
  height: 5rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 2rem;
  background-color: var(--dark-orange);
  margin-bottom: 5px;
}

.main-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  display: none;
}

.main-navigation .menu {
  display: flex;
  flex-direction: column;
}

.main-navigation .menu li {
  margin: 0;
}

.menu-menu-1-container li a {
  font-size: large;
}

.show-nav {
  display: block;
  /* height: calc(100vh); */
  background-color: white;
  font-size: xx-large;
}

.show-nav .menu-item {
  text-align: center;
  padding: 5rem;
}

/* ========== footer.scss - Donald ========*/
.site-footer {
  border-top: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.socialmediaicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.socialmediaicons svg {
  width: 1rem;
}

.footer-socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.footer-nav {
  width: 100%;
}

.get-in-touch {
  width: 100%;
}

.footer-site-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.get-in-touch a {
  display: block;
}

.get-in-touch-contact {
  margin-bottom: 1rem;
}

.get-in-touch-title {
  font-weight: bold;
}

.footer-copywrite {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 5rem;
}

#secondary-menu {
  flex-direction: column;
}

/* ========== mixins.scss - Dazz ========*/
/************* HEADER/FOOTER/NAVIGATION BAR ******************/
@media (min-width: 768px) {
  .site-branding {
    padding-right: 15px;
    padding-left: 15px;
  }
  .menu-toggle {
    display: none;
  }
  .main-navigation {
    position: static;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
  }
  .main-navigation .menu {
    flex-direction: row;
  }
  .main-navigation .menu li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .footer-site-info {
    flex-direction: row;
    align-items: center;
  }
  .footer-socialmedia,
  .footer-nav,
  .get-in-touch {
    width: unset;
    flex: 1;
  }
  .footer-socialmedia img {
    width: 20rem;
  }
  #secondary-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
  }
}
/************* HOME PAGE (FRONT-PAGE) ******************/
/* Mobile version */
@media (max-width: 767px) {
  /* Increase the max-width of the hero-image and hero-message to 100% */
  .hero-banner {
    flex-direction: column;
  }
  .hero-image {
    max-width: 100%;
  }
  .hero-message {
    max-width: 100%;
  }
  /* Change the direction of the flexbox to column for the hero-cta and remove margin-right of the buttons */
  .hero-cta {
    flex-direction: column;
  }
  .hero-cta-buynow,
  .hero-cta-howtoplay {
    margin-right: 0;
    margin-bottom: 8px;
    width: 100%;
  }
  /* Remove padding from the entire whats-in-the-box section */
  .whats-in-the-box {
    padding: none;
  }
  /* Change the direction of the flexbox to column and increase the gap between the images in the whats-in-the-box section */
  .whats-in-the-box-images {
    flex-direction: column;
    gap: 40px;
  }
  /* Increase the width of the whats-in-the-box-image to 100% */
  .whats-in-the-box-image {
    width: 100%;
  }
}
/* Desktop version */
@media (min-width: 768px) {
  .hero-banner {
    padding-top: 5%;
  }
  /* Limit the max-width of the hero-image and hero-message to 50% */
  .hero-image {
    max-width: 50%;
  }
  .hero-message {
    max-width: 50%;
  }
  /* Add padding to the whats-in-the-box section */
  .whats-in-the-box {
    padding: 8rem 25rem 8rem 25rem;
  }
  /* Navigation */
  .hero-cta-buynow-header {
    margin: 2rem 0 0 20rem;
  }
}
/* ========== colors.scss - Donald ========*/
:root {
  --black: #070606;
  --dark-blue: #041E42;
  --light-blue: #78A1BB;
  --sky-blue: #47AED9;
  --dark-orange: #FF7200;
  --light-orange: #FFA903;
  --green: #56AC5f;
  --nude: #FDF7DD;
}

/* ========== base.scss - Dazz ========*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: white;
}

.container {
  padding: 2%;
}

h1 {
  font-family: "Monsterrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 21px;
}

h3 {
  font-family: "Monsterrat Alternates", sans-serif;
  font-size: 44px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

ul li {
  text-decoration: none;
}

/* ========== HOMEPAGE - Donald ==========*/
/************ HERO BANNER  ************/
.hero-banner {
  display: flex;
  align-items: center; /* Aligns children vertically */
  justify-content: center; /* Centers children horizontally */
  gap: 20px; /* Space between image and message */
  width: 100%;
  padding-top: 5%;
}

.hero-image {
  flex: 1;
  max-width: 50%;
  overflow: hidden; /* Hide the overflowing part of the image */
  display: flex; /* Add flex to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.hero-image img {
  width: 100%;
  height: 100%; /* Change from min-height to height */
  object-fit: cover;
}

.hero-message {
  flex: 1; /* Take up equal space in the container */
  max-width: 50%; /* Limit width to 50% */
}

/************ BUTTONS ************/
/* Flex container for the buttons */
.hero-cta {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem 0;
}

/* Shared styles for both buttons */
.hero-cta-buynow,
.hero-cta-howtoplay,
.button-styles {
  flex: 1;
  text-align: center;
  margin-right: 8px;
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  width: 50%;
}

/* Orange button styles */
.hero-cta-buynow,
.button-styles {
  background-color: var(--dark-orange);
  color: white;
  position: relative;
  transition: transform 0.3s ease;
}

/* Text color for the second button */
.hero-cta-howtoplay {
  margin-right: 0; /* Remove the right margin from the second button */
  color: var(--dark-orange); /* Set the text color to orange */
}

/* Hover effect for the orange button */
.hero-cta-buynow:hover,
.button-styles:hover {
  transform: translateY(-4px); /* Move the orange button up */
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: 9px 9px black; /* Shadow effect under the orange box */
  color: white;
}

/************ WHAT'S IN THE BOX  ************/
/* Flex container for the images */
.whats-in-the-box-images {
  display: flex;
  justify-content: space-between;
}

/* Shared styles for the image containers */
.whats-in-the-box-image {
  width: 45%; /* Set a width for each image container */
}

/* Intro text styles */
.whats-in-the-box-text {
  text-align: center;
  margin-bottom: 32px;
}

.whats-in-the-box-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

.whats-in-the-box-subheading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.whats-in-the-box-description {
  font-size: 18px;
  margin-bottom: 16px;
}

/* Image styles */
.whats-in-the-box-image-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.whats-in-the-box-image-file {
  width: 100%;
}

/**** EVENT FEATURE ****/
.event-feature {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--dark-blue);
}

.event-feature-info {
  order: 2;
  color: white;
}

.event-feature-info a {
  color: white;
  padding: 20px;
}

.event-feature-image {
  order: 1;
}

.event-feature-message-details {
  margin: 0 0 20px;
  text-align: center;
}

.event-feature-message-button {
  text-align: center;
}

.event-feature-message-button a {
  display: inline-block;
  position: relative;
}

.event-feature-message-button img {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30rem;
}

.event-feature-info .event-feature-message {
  padding: 20px;
}

.event-feature-info .event-feature-message h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.event-feature-info .event-feature-message h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.event-feature-info .event-feature-message p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.event-feature-info .event-feature-message a {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--dark-orange);
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.event-feature-info .event-feature-message img {
  margin-left: 10px;
}

.event-feature-image img {
  display: block;
  width: 100%;
  height: auto;
}

/* Desktop */
@media (min-width: 768px) {
  .event-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30rem;
  }
  .event-feature-info {
    order: 1;
    flex: 1;
    margin-right: 40px;
  }
  .event-feature-image {
    order: 2;
    flex: 1;
  }
  .event-feature-image img {
    width: 30rem;
  }
  .event-feature-message-details {
    text-align: left;
  }
  .event-feature-message-button {
    text-align: left;
  }
}
/** HOW TO PLAY **/
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps {
  height: 100vh;
}

.bg-blue {
  background-color: var(--dark-blue);
  color: white;
}

.bg-green {
  background-color: var(--green);
  color: white;
}

.step-image-left,
.step-image-right {
  flex: 1;
  max-width: 50%;
  overflow: hidden; /* Hide the overflowing part of the image */
  display: flex; /* Add flex to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.step-image-right img {
  width: 100%;
  height: 100%; /* Change from min-height to height */
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.step-image-left img {
  width: 100%;
  height: 100%; /* Change from min-height to height */
  object-fit: cover;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.m-left {
  margin-left: 2rem;
}

.m-right {
  margin-right: 2rem;
}

.howtoplay-links a {
  color: white;
  margin-right: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
}

/* ========== PRODUCT PURCAHSE - Donald ============*/
.test-product {
  font-family: sans-serif;
}

/* ========== ABOUT US PAGE - Emmanoel ========== */
.test-about {
  font-family: sans-serif;
}

/* ========== CONTACT US PAGE - Emmanoel ========*/
.test-contact {
  font-family: "Courier New", Courier, monospace;
}

/* ========== EVENT DETAILS PAGE - Emmanoel ==========*/
.test-detail {
  font-family: sans-serif;
}

/* ========== EVENT LISTINGS PAGE - Emmanoel =======*/
.test-listing {
  font-family: sans-serif;
}

/*# sourceMappingURL=styles.css.map */
