/* ========== TYPOGRAPHY - Dazz ========== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Open+Sans&display=swap");
/* ========= RESET.CSS ==========*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* ========== header.scss - Donald ========*/
.site-header {
  background-color: white;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.site-branding-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 18rem;
  height: 6rem;
}

.site-branding img {
  width: 100%;
  height: 100%;
}

.site-title a {
  color: #fff;
  font-size: 36px;
}

.menu-toggle {
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 15px;
  height: 5rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 2rem;
  background-color: var(--dark-orange);
  margin-bottom: 5px;
}

.main-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  display: none;
}

.main-navigation .menu {
  display: flex;
  flex-direction: column;
}

.main-navigation .menu li {
  margin: 0;
}

.menu-menu-1-container li a {
  font-size: large;
}

.show-nav {
  display: block;
  /* height: calc(100vh); */
  background-color: white;
  font-size: xx-large;
}

.show-nav .menu-item {
  text-align: center;
  padding: 5rem;
}

.cart-icon svg {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.cart-info {
  display: flex;
  align-items: center;
  justify-content: right;
}

.buy-now-and-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* ========== footer.scss - Donald ========*/
.site-footer {
  border-top: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.socialmediaicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.socialmediaicons svg {
  width: 1rem;
}

.footer-socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.footer-nav {
  width: 100%;
}

.get-in-touch {
  width: 100%;
}

.footer-site-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.get-in-touch a {
  display: block;
}

.get-in-touch-contact {
  margin-bottom: 1rem;
}

.get-in-touch-title {
  font-weight: bold;
}

.footer-copywrite {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 5rem;
}

#secondary-menu {
  flex-direction: column;
}

/* ========== mixins.scss - Dazz ========*/
/************* HEADER/FOOTER/NAVIGATION BAR ******************/
@media (min-width: 768px) {
  .site-branding {
    padding-right: 15px;
    padding-left: 15px;
  }
  .menu-toggle {
    display: none;
  }
  .main-navigation {
    position: static;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
  }
  .main-navigation .menu {
    flex-direction: row;
  }
  .main-navigation .menu li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .footer-site-info {
    flex-direction: row;
    align-items: center;
  }
  .footer-site-info .footer-socialmedia,
.footer-site-info .footer-nav,
.footer-site-info .get-in-touch {
    width: unset;
    flex: 1;
  }
  .footer-site-info .footer-socialmedia img {
    width: 20rem;
  }
  #secondary-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
  }
}
/************* HOME PAGE (FRONT-PAGE) ******************/
/* Mobile version */
@media (max-width: 767px) {
  /* Increase the max-width of the hero-image and hero-message to 100% */
  .hero-banner,
.split-contact {
    flex-direction: column;
  }
  .hero-banner .hero-image,
.hero-banner .split-contact-left,
.split-contact .hero-image,
.split-contact .split-contact-left {
    max-width: 100%;
  }
  .hero-banner .hero-message,
.hero-banner .split-contact-right,
.split-contact .hero-message,
.split-contact .split-contact-right {
    max-width: 100%;
  }
  /* Change the direction of the flexbox to column for the hero-cta and remove margin-right of the buttons */
  .hero-cta {
    flex-direction: column;
  }
  .hero-cta .hero-cta-buynow,
.hero-cta .hero-cta-howtoplay {
    margin-right: 0;
    margin-bottom: 8px;
    width: 100%;
  }
  /* Change the direction of the flexbox to column and increase the gap between the images in the whats-in-the-box section */
  .whats-in-the-box-images {
    flex-direction: column;
    gap: 40px;
    /* Increase the width of the whats-in-the-box-image to 100% */
  }
  .whats-in-the-box-images .whats-in-the-box-image {
    width: 100%;
  }
}
/* Desktop version */
@media (min-width: 768px) {
  .hero-banner {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  /* Limit the max-width of the hero-image and hero-message to 50% */
  .hero-image {
    max-width: 50%;
  }
  .hero-message {
    max-width: 50%;
    padding: 3rem;
  }
  /* Makes the buttons direction row */
  .hero-cta {
    flex-direction: row !important;
  }
  .hero-cta-buynow,
.hero-cta-howtoplay {
    margin-right: 16px;
    margin-bottom: 0;
    width: auto;
  }
  /* Add padding to the whats-in-the-box section */
  .whats-in-the-box {
    padding: 8rem 25rem 8rem 25rem;
    background-color: white !important;
  }
  /* Navigation */
  .hero-cta-buynow-header {
    margin: 2rem 0 0 20rem;
  }
  /**** TESTIMONIALS ****/
  .testimonial-container {
    flex-direction: row;
  }
  .testimonial {
    margin: 0 2rem;
    margin-bottom: 0;
  }
}
/* ========== colors.scss - Donald ========*/
:root {
  --black: #070606;
  --dark-blue: #041E42;
  --light-blue: #78A1BB;
  --sky-blue: #47AED9;
  --dark-orange: #FF7200;
  --light-orange: #FFA903;
  --green: #56AC5f;
  --nude: #FDF7DD;
}

/* ========== base.scss - Dazz ========*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: white;
}

.container {
  padding: 2%;
}

/* ==== MARGIN ===== */
/* Margin 1rem */
.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

/* Margin 2rem */
.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Margin 3rem */
.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

/* ===== PADDING ==== */
/* Pddding 1rem */
.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

/* Pddding 2rem */
.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

/* Pddding 3rem */
.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

/* ICONS */
.icon {
  color: var(--dark-orange);
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
}

h4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

a {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
}

ul {
  list-style: none;
}

ul li {
  text-decoration: none;
}

/* ========== buttons.scss - Dazz ========*/
a {
  text-decoration: none;
  color: var(--dark-blue);
}

a:hover {
  color: var(--green);
}

.cart-icon svg:hover {
  color: var(--green);
}

/***** FRONT PAGE BUTTONS*****/
/* Flex container for the buttons */
.hero-cta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem 0 1.5rem 0;
}

/* Shared styles for both buttons */
.hero-cta-buynow,
.hero-cta-howtoplay,
.button-styles,
.form-submit {
  flex: 1;
  text-align: center;
  margin-right: 0px;
  margin-bottom: 8px;
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  width: 50%;
}

/* Orange button styles */
.hero-cta-buynow,
.button-styles,
.form-submit {
  background-color: var(--dark-orange);
  color: white;
  position: relative;
  transition: transform 0.3s ease;
}

/* Text color for the second button in FRONT PAGE */
.hero-cta-howtoplay {
  margin-right: 0; /* Remove the right margin from the second button */
  color: var(--dark-orange); /* Set the text color to orange */
}

/* Hover effect for the orange button */
.hero-cta-buynow:hover,
.button-styles:hover {
  transform: translateY(-4px); /* Move the orange button up */
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: 9px 9px black; /* Shadow effect under the orange box */
  color: white;
}

/* ========== HOMEPAGE - Donald ==========*/
/************ HERO BANNER  ************/
.hero-banner,
.split-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding-top: 5%;
  /* Styles for .hero-image */
  /* Styles for .hero-message */
  /* Styles for .hero-cta */
}
.hero-banner .hero-image,
.hero-banner .split-contact-left,
.split-contact .hero-image,
.split-contact .split-contact-left {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Styles for img */
}
.hero-banner .hero-image img,
.hero-banner .split-contact-left img,
.split-contact .hero-image img,
.split-contact .split-contact-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-banner .hero-message,
.hero-banner .split-contact-right,
.split-contact .hero-message,
.split-contact .split-contact-right {
  flex: 1;
  max-width: 80%;
}
.hero-banner .hero-cta,
.split-contact .hero-cta {
  flex-direction: column;
  /* Styles for buttons */
}
.hero-banner .hero-cta .hero-cta-buynow,
.hero-banner .hero-cta .hero-cta-howtoplay,
.split-contact .hero-cta .hero-cta-buynow,
.split-contact .hero-cta .hero-cta-howtoplay {
  margin-right: 0;
  margin-bottom: 8px;
  width: auto;
}

/************ WHAT'S IN THE BOX  ************/
/* Remove padding from the entire whats-in-the-box section */
.whats-in-the-box {
  padding: none;
  background-color: var(--nude);
}

/* Flex container for the images */
.whats-in-the-box-images {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center the images vertically */
  /* Shared styles for the image containers */
}
.whats-in-the-box-images .whats-in-the-box-image {
  width: 45%; /* Set a width for each image container */
}

/* Text styles */
.whats-in-the-box-text {
  text-align: center;
  margin-bottom: 32px;
}
.whats-in-the-box-text .whats-in-the-box-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}
.whats-in-the-box-text .whats-in-the-box-subheading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.whats-in-the-box-text .whats-in-the-box-description {
  font-size: 18px;
  margin-bottom: 16px;
}

/* Image styles */
.whats-in-the-box-image-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.whats-in-the-box-image-file {
  width: 100%;
}

/************ TESTIMONIALS ************/
.testimonials {
  padding: 5rem;
}

/* Flex container for the testimonials */
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  /* Individual testimonial styles */
}
.testimonial-container .testimonial {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  margin-bottom: 2rem;
  max-width: 300px;
  /* Testimonial image styles */
}
.testimonial-container .testimonial img {
  max-width: 30%;
  margin-bottom: 1rem;
}

/************ EVENT FEATURE ************/
.event-feature {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--dark-blue);
}
.event-feature .event-feature-info {
  order: 1;
  color: white;
}
.event-feature .event-feature-info a {
  color: white;
  padding: 20px;
}
.event-feature .event-feature-info .event-feature-message {
  padding: 20px;
}
.event-feature .event-feature-info .event-feature-message h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.event-feature .event-feature-info .event-feature-message h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.event-feature .event-feature-info .event-feature-message p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.event-feature .event-feature-info .event-feature-message a {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--dark-orange);
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
.event-feature .event-feature-info .event-feature-message a img {
  margin-left: 10px;
}
.event-feature .event-feature-info .event-feature-message-details {
  margin: 0 0 20px;
  text-align: center;
}
.event-feature .event-feature-info .event-feature-message-button {
  text-align: center;
}
.event-feature .event-feature-info .event-feature-message-button a {
  display: inline-block;
  position: relative;
}
.event-feature .event-feature-info .event-feature-message-button a img {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 30rem;
}
.event-feature .event-feature-image {
  order: 2;
  overflow: hidden; /* prevents image overflow */
}
.event-feature .event-feature-image img {
  display: block;
  width: 100%;
  height: auto;
}

/************ EVENT FEATURE ************/
.instagram-container {
  max-width: 1200px;
  margin: 0 auto;
}

.instagram-intro {
  text-align: center;
  margin-bottom: 3rem;
}

/************* Desktop *************/
@media (min-width: 768px) {
  .event-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .event-feature .event-feature-info {
    order: 1;
    flex: 1;
    margin-right: 40px;
  }
  .event-feature .event-feature-image {
    order: 2;
    flex: 1;
  }
  .event-feature .event-feature-image img {
    width: 100%;
  }
  .event-feature .event-feature-message-details {
    text-align: left;
  }
  .event-feature .event-feature-message-button {
    text-align: left;
  }
}
/** HOW TO PLAY **/
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps {
  height: 100vh;
}

.center-vertical {
  height: 100%;
}

.bg-blue {
  background-color: var(--dark-blue);
  color: white;
}

.bg-green {
  background-color: var(--green);
  color: white;
}

.bg-white {
  background-color: white;
  color: black;
}

.steps-breadcrumb {
  text-align: center;
}

.step-image-left,
.step-image-right {
  flex: 1;
  max-width: 50%;
  overflow: hidden; /* Hide the overflowing part of the image */
  display: flex; /* Add flex to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.step-image-right img {
  width: 100%;
  height: 100%; /* Change from min-height to height */
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.step-image-left img {
  width: 100%;
  height: 100%; /* Change from min-height to height */
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.m-left {
  margin-left: 2rem;
}

.m-right {
  margin-right: 2rem;
}

.howtoplay-links a {
  color: white;
  margin-right: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
}

.cta-hero-message {
  flex: 1;
  max-width: 80%;
}

.howtoplay-links a {
  transition: text-stroke 0.3s ease-in-out; /* Add transition for smoother effect */
}

.howtoplay-links a {
  color: white;
  text-decoration: none;
  transition: text-shadow 0.3s ease-in-out; /* Add transition for smoother effect */
}

.howtoplay-links a:hover {
  color: white;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5); /* Add text-shadow only for :hover pseudo-class */
}

/* ========== PRODUCT PURCAHSE - Donald ============*/
.test-product {
  font-family: sans-serif;
}

/* ========== CONTACT US PAGE - Dazz ========*/
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form textarea {
  font-size: 16px;
  font-weight: normal;
  outline: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
}

.form-submit {
  border: none;
  margin-top: 3rem;
  width: 100%;
  border-radius: 20px;
}

.contact-info a {
  font-weight: bold;
}

.contact-form label {
  font-weight: 100;
  font-style: italic;
}

.split-contact-left {
  justify-content: start;
}

.split-contact-right {
  place-self: start;
}

/* ========== ABOUT US PAGE - Emmanoel ========== */
.test-about {
  font-family: sans-serif;
}

.about-us-paragraph p:nth-child(1),
.about-us-paragraph p:nth-child(2),
.about-us-paragraph p:nth-child(3) {
  margin-bottom: 2.5rem;
}

figcaption {
  text-align: center;
  font-size: 0.75rem;
}

.about-us-upper-section {
  padding: 2rem;
}

.about-us-lower-section {
  margin-top: 7rem;
  background-color: var(--dark-blue);
  color: white;
}

.check-out-events-title {
  margin-right: 7rem;
  margin-bottom: 3rem;
}

.check-out-events-description {
  margin-top: 3rem;
}

.see-event-arrow {
  color: var(--light-orange);
  margin-top: 3rem;
}

.check-out-events-container {
  padding: 2rem;
}

.seniors-tournament-text h2,
.fundraiser-tournament-text h2 {
  margin-top: 1rem;
}

.seniors-tournament-image,
.fundraiser-tournament-image {
  width: 100vw;
}

.seniors-tournament-image-file,
.fundraiser-tournament-image-file {
  width: 48rem;
}

.seniors-tournament-container a {
  color: white;
}

/*Media Query*/
/* ========== EVENT DETAILS PAGE - Emmanoel ==========*/
.test-detail {
  font-family: sans-serif;
}

.event-details-upper-container {
  padding: 2rem;
}

/* ========== EVENT LISTINGS PAGE - Emmanoel =======*/
.test-listing {
  font-family: sans-serif;
}

.test-listing {
  font-family: sans-serif;
}

.event-listing-top-cards img {
  width: 45rem;
}

.event-details {
  display: flex;
}

h4 {
  font-size: 2rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2.3rem;
}

.event-listing-page {
  margin: 3rem;
}

.chinese-new-years-description {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.event-details {
  margin-top: 1rem;
}

.link-to-event-detail-page {
  margin-top: 3rem;
}

.details-second-row {
  margin-left: 6rem;
}

.event-listing-bottom-cards {
  margin-top: 7rem;
}

.four-hundred-games-image-file,
.all-ages-welcome-file,
.holiday-madness-file,
.black-friday-sales-file,
.seniors-edition-file,
.fundraiser-file {
  height: auto;
  max-width: 20rem;
}

.bottom-card-one,
.bottom-card-two,
.bottom-card-three,
.bottom-card-four,
.bottom-card-five,
.bottom-card-six {
  display: flex;
  margin-top: 1rem;
}

.events-listing-bottom-cards-text {
  margin-left: 1.5rem;
}

.event-listing-bottom-card-date {
  margin-top: 1.5rem;
}

.third-card-listing,
.fourth-card-listing {
  margin-top: 5rem;
}

/*Media Query for desktop*/
@media (min-width: 768px) {
  .events-listing-top-cards-one,
.events-listing-top-cards-two {
    display: flex;
  }
  body {
    background-color: lightblue;
  }
}/*# sourceMappingURL=styles.css.map */