/* ========== header.scss - Donald ========*/



.site-header {
	background-color: white;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
  }
  
  .site-branding-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	width: 22rem;
	height: 6rem;
	padding-top: 4rem;
	padding-left:0;
  }
  
  .site-branding img {
	  width: 100%;
	  height: 100%;
  }
  
  .site-title a {
	color: #fff;
	font-size: 36px;
  }
  
  .menu-toggle {
	border: none;
	cursor: pointer;
	padding: 5px;
	margin-right: 15px;
	height: 5rem;
	width: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  }
  
  .icon-bar {
	display: block;
	width: 100%;
	height: 2rem;
	background-color: var(--dark-orange);
	margin-bottom: 5px;
  }
  
  .main-navigation {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #333;
	display: none;
  }
  
  .main-navigation .menu {
	display: flex;
	flex-direction: column;
  }
  
  .main-navigation .menu li {
	margin: 0;
  }

  .menu-menu-1-container li a {
	font-size: large;
  }
  
  
  .show-nav {
	display: block;
	/* height: calc(100vh); */
	background-color: white;
	font-size: xx-large;
	z-index: 1;
  }
  
  .show-nav .menu-item {
	text-align: center;
	padding: 5rem;
  }

  
  .cart-icon svg {
	height: 24px;
	width: 24px;
	margin-right: 10px;
	vertical-align: middle;
  }

  .cart-info {
	display: flex;
	align-items: center;
	justify-content: right;
  }

  .buy-now-and-cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	gap: 2rem;
  }

  .hero-cta-buynow a{
	text-align: center;
  }

  .cart-info{
	text-align: center;
	margin-top: 1rem;
	margin-right: 3rem;
  }
  