/* ========== mixins.scss - Dazz ========*/

// Any reusable styles/components
// Buttons, Links, Breakpoints

@mixin break($point){
    @if $point == small {
        @media (min-width: 600px) {@content;}
    }

    @else if $point == med {
        @media (min-width: 1000px) {@content;}
    }
    @else if $point == wide {
        @media (min-width: 1200px) {@content;}
    }

}

@mixin basic-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}



@media (min-width: 768px) {
	.site-branding {
	  padding-right: 15px;
	  padding-left: 15px;
	}
  
	.menu-toggle {
	  display: none;
	}
  
	.main-navigation {
	  position: static;
	  background-color: transparent;
	  display: flex;
	  justify-content: flex-end;
	}
  
	.main-navigation .menu {
	  flex-direction: row;
	}
  
	.main-navigation .menu li {
	  margin-left: 15px;
	  margin-right: 15px;
	}

	.footer-site-info {
		flex-direction: row;
		align-items: center;
	}

	.footer-socialmedia,
	.footer-nav,
	.get-in-touch {
		width: unset;
		flex: 1;
	}

	.footer-socialmedia img {
		width: 20rem;
	}


	#secondary-menu {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 5rem;
	}

  }
  

/************* HOME PAGE (FRONT-PAGE) ******************/

/* Mobile version */
@media (max-width: 767px) {
	.hero-banner {
	  flex-direction: column;
	  gap: 40px;
	}
	.hero-image {
	  max-width: 100%;
	}
	.hero-message {
	  max-width: 100%;
	}
	.hero-cta {
	  flex-direction: column;
	}
	.hero-cta-buynow,
	.hero-cta-howtoplay {
	  margin-right: 0;
	  margin-bottom: 8px;
	  width: 100%;
	}
	.whats-in-the-box {
	  padding: none;
	}
	.whats-in-the-box-images {
	  flex-direction: column;
	  gap: 40px;
	}
	.whats-in-the-box-image {
	  width: 100%;
	}
  }
  
  /* Desktop version */
//   @media (min-width: 768px) {
// 	.hero-banner {
// 	  padding-top: 5%;
// 	}
// 	.hero-image {
// 	  max-width: 50%;
// 	}
// 	.hero-message {
// 	  max-width: 50%;
// 	}
// 	.hero-cta {
// 	  width: 50%;
// 	}
// 	.whats-in-the-box {
// 	  padding: 5% 20% 5% 20%;
// 	}
//   }
  