/* ========== TYPOGRAPHY - Dazz ========== */ 

@use 'colors';
@use 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Open+Sans&display=swap');

h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;    
    font-size: 3.5rem;
}

h4{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

p,
.wpforms-field-label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

a{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
}

ul {
	list-style: none;
}

ul li {
	text-decoration: none;
}
